<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../element-ui-2.13.0/lib/theme-chalk/index.css" />
    <script type="text/javascript" src="../../vue/vue-v2.6.10.js"></script>
    <script type="text/javascript" src="../../element-ui-2.13.0/lib/index.js"></script>
    <script type="text/javascript" src="../../vue/axios-0.18.0.js"></script>
</head>

<body>
    <div id="app">
        <el-tag type="info" effect="dark" closable="true" v-if="inputVisible2" :disable-transitions="disable"
            @close="handleClose">添加教师科研信息</el-tag>
        <div v-if="inputVisible">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="教师工号" prop="tnum">
                    <el-input v-model="ruleForm.tnum" style="width: 210px;"></el-input>
                </el-form-item>

                <el-form-item label="教师姓名" prop="tname">
                    <el-input v-model="ruleForm.tname" style="width: 210px;"></el-input>
                </el-form-item>


                <el-form-item label="科研信息">
                    <el-input type="textarea" v-model="ruleForm.tscience"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                    <el-button @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</body>
<script>
    axios.defaults.withCredentials = true
    new Vue({
        el: "#app",
        data: {
            ruleForm: {
                tnum:'',
                tname:'',
                // 这是科研信息
                tscience:''
            },
            rules: {
                tname: [{
                    required: true,
                    message: '请输入真实姓名',
                    trigger: 'blur'
                }],
            },
            /*选项卡*/
            inputVisible: true,
            inputVisible2: true,
            disable: false,
        },
        methods: {
            //点击添加用户选项卡，小叉叉的方法
            handleClose() {
                this.inputVisible = false;
                this.inputVisible2 = false;
                this.disable = true;
            },
            //点击创建按钮的方法
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //发送axios请求，传递用户数据
                        let params = new URLSearchParams();
                        for (let key in this.ruleForm) {
                            params.append(key, this.ruleForm[key]);
                        }
                        params.append("function", "addtresearch");
                        axios({
                            method: "post",
                            url: "http://localhost:8080/BackEnd/Tresearch",
                            data: params
                        }).then(response => {
                            if (response.data.code == 200) {
                                this.$message({
                                    message: response.data.msg,
                                    type: "success"
                                })
                                setTimeout(function () {
                                    window.location = "scientific_research.html";
                                }, 1500)
                            } else {
                                this.$message({
                                    message: response.data.msg,
                                    type: "error"
                                })
                            }
                        })
                    } else {
                        this.$message({
                            message: "数据有误，请重新填写",
                            type: "error"
                        })
                    }
                });
            },
            //点击重置按钮的方法
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })
</script>

</html>